In [1]:
import plotly.plotly as py
import plotly.figure_factory as ff
import numpy as np
import pandas as pd
import plotly.graph_objs as go
import plotly

plotly.tools.set_credentials_file(username='carayangqin', api_key='rrnAtCXtAnw5eMFmQdeN')

In [2]:
data =  pd.read_csv('/Users/yangyangyang/Desktop/MSAN/DataVisulization/visualization/loan.csv', low_memory=False)

In [3]:
data.issue_d = pd.to_datetime(data.issue_d, format = '%b-%Y')

In [4]:
data['year'] = data.issue_d.dt.year

In [5]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,year
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011

In [8]:
data.shape

(887379, 75)

In [6]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'year'],
      dtype='object')

# word map: states vs quantity

In [11]:
map_data = data.groupby(['addr_state'])['id'].count().reset_index()

In [12]:
map_data.head()

  addr_state      id
0         AK    2205
1         AL   11200
2         AR    6640
3         AZ   20412
4         CA  129517

In [17]:
d = [ dict(
        type = 'choropleth',
        locations = map_data['addr_state'],
        locationmode = 'USA-states',
        z = map_data['id'],
        text = map_data['addr_state'],
        autocolorscale = True,
        reversescale = False,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            title = 'Loan Quantity'),
      ) ]

layout = dict(
    title = 'States Loan Quantity From 2007 to 2015<br>Source:\
            <a href="https://www.kaggle.com/wendykan/lending-club-loan-data/data">\
            Kaggle</a>',
    geo = dict(
        scope='usa',
        showframe = False,
        showcoastlines = True,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=d, layout=layout )
py.iplot(fig, validate=False, filename='state-loanquantity' )

# state vs loan amount with year dropdown menu

In [31]:
state_amnt = data.groupby(['addr_state', 'year'])['loan_amnt'].sum().reset_index().sort_values(by=['addr_state'], ascending=True)

In [32]:
state_amnt.head()

  addr_state  year  loan_amnt
0         AK  2008    61500.0
1         AK  2009   112325.0
2         AK  2010   224000.0
3         AK  2011   712775.0
4         AK  2012  2778500.0

In [41]:
d = [ dict(
        type = 'choropleth',
        locations = state_amnt[state_amnt.year==2015]['addr_state'],
        locationmode = 'USA-states',
        z = state_amnt[state_amnt.year==2015]['loan_amnt'],
        text = state_amnt[state_amnt.year==2015]['addr_state'],
        autocolorscale = True,
        reversescale = False,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            title = 'Loan Amount'),
      ) ]

layout = dict(
    title = 'Loan Amount by States<br>Source:\
            <a href="https://www.kaggle.com/wendykan/lending-club-loan-data/data">\
            Kaggle</a>',
    geo = dict(
        scope='usa',
        showframe = False,
        showcoastlines = True,
        projection = dict(
            type = 'Mercator'
        )
    )
)

# create the empty dropdown menu
updatemenus = list([dict(buttons=list()), 
                    dict(direction='down',
                         showactive=True)])

years = len(state_amnt.year.unique()) + 1

for n, year in enumerate(state_amnt.year.unique()):
    # add a trace for each year
    d.append(dict(
        type = 'choropleth',
        locations = state_amnt[state_amnt.year==year]['addr_state'],
        locationmode = 'USA-states',
        z = state_amnt[state_amnt.year==year]['loan_amnt'],
        text = state_amnt[state_amnt.year==year]['addr_state'],
        autocolorscale = True,
        reversescale = False,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            title = 'Loan Amount'),
      visible=False))

    # add each year to the dropdown    
    visible_traces = [False] * years
    visible_traces[n + 1] = True
    updatemenus[0]['buttons'].append(dict(args=[{'visible': visible_traces}],
                                          label=year,
                                          method='update'))

# add a dropdown entry to reset the map    
updatemenus[0]['buttons'].append(dict(args=[{'visible': [True] + [False] *  (years - 1)}],
                                      label='reset',
                                      method='update'))

layout['updatemenus'] = updatemenus
fig = dict( data=d, layout=layout )
py.iplot(fig, validate=False, filename='state-loanamnt' )

In [42]:
df1 = data.groupby(['year', 'purpose'])['loan_amnt'].sum().reset_index()

In [43]:
trace_2015 = go.Bar(x=df1[df1.year == 2015].purpose,
                        y=df1[df1.year == 2015].loan_amnt,
                        name='2015')

trace_2014 = go.Bar(x=df1[df1.year == 2014].purpose,
                        y=df1[df1.year == 2014].loan_amnt,
                        name='2014')

trace_2013 = go.Bar(x=df1[df1.year == 2013].purpose,
                        y=df1[df1.year == 2013].loan_amnt,
                        name='2013')

trace_2012 = go.Bar(x=df1[df1.year == 2012].purpose,
                        y=df1[df1.year == 2012].loan_amnt,
                        name='2012')

trace_2011 = go.Bar(x=df1[df1.year == 2011].purpose,
                        y=df1[df1.year == 2011].loan_amnt,
                        name='2011')

trace_2010 = go.Bar(x=df1[df1.year == 2010].purpose,
                        y=df1[df1.year == 2010].loan_amnt,
                        name='2010')

trace_2009 = go.Bar(x=df1[df1.year == 2009].purpose,
                        y=df1[df1.year == 2009].loan_amnt,
                        name='2009')

trace_2008 = go.Bar(x=df1[df1.year == 2008].purpose,
                        y=df1[df1.year == 2008].loan_amnt,
                        name='2008')

trace_2007 = go.Bar(x=df1[df1.year == 2007].purpose,
                        y=df1[df1.year == 2007].loan_amnt,
                        name='2007')


dt = [trace_2015, trace_2014, trace_2013, trace_2012, trace_2011, trace_2010, trace_2009, trace_2008, trace_2007]


updatemenus = list([
    dict(active=-1,
         buttons=list([   
            dict(label = '2015',
                 method = 'update',
                 args = [{'visible': [True, False, False, False, False, False, False, False, False]},
                         {'title': 'Distribution of loan on 2015'}]),
            dict(label = '2014',
                 method = 'update',
                 args = [{'visible': [False, True, False, False, False, False, False, False, False]},
                         {'title': 'Distribution of loan on 2014'}]),
            dict(label = '2013',
                 method = 'update',
                 args = [{'visible': [False, False, True, False, False, False, False, False, False]},
                         {'title': 'Distribution of loan on 2013'}]),
            dict(label = '2012',
                 method = 'update',
                 args = [{'visible': [False, False, False, True, False, False, False, False, False]},
                         {'title': 'Distribution of loan on 2012'}]),
            dict(label = '2011',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, True, False, False, False, False]},
                         {'title': 'Distribution of loan on 2011'}]),
            dict(label = '2010',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, False, True, False, False, False]},
                         {'title': 'Distribution of loan on 2010'}]),
            dict(label = '2009',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, False, False, True, False, False]},
                         {'title': 'Distribution of loan on 2009'}]),
            dict(label = '2008',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, False, False, False, True, False]},
                         {'title': 'Distribution of loan on 2008'}]),
            dict(label = '2007',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, False, False, False, False, True]},
                         {'title': 'Distribution of loan on 2007'}]),
            dict(label = 'Reset',
                 method = 'update',
                 args = [{'visible': [True, True, True, True, True, True, True, True, True]},
                         {'title': 'All'}])]))])

layout = dict(title='Distribution of loan on 2015', showlegend=False,
              updatemenus=updatemenus)

fig = dict(data=dt, layout=layout)
py.iplot(fig, filename='update_dropdown')